html, body {
    height: auto;
    margin: 0;
    padding: 0;
}

.browseByCategoryContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 600px;
    height: 100%; 
}

.browseByCategoryHeader {
    position: absolute;
    top: 0;
    color: #FFFFFF; 
}

.browseByCategoryContainer h2 {
    text-align: left;
    margin-right: 20px; 
}

.browseByCategoryButtons {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #323C5F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: inline-block;
}

.browseByCategoryButtons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 297px;
    height: 100px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0077CC;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 26px;
}

.browseByCategoryButtons a:hover {
    background-color: #005DA6;
}