html {
    --container: 95%; 
    --padding-container: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.header {
    background-color: #000000;
    padding: var(--padding-container);
    position: relative;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    margin-right: calc(var(--padding-container) * 2);
}

.menu-item:last-child {
    margin-right: 0;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img {
    width: 30px;
    margin-right: calc(var(--padding-container) / 2);
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.search img,
.person-icon img {
    width: 25px;
    height: 25px;
}

.promo {
    position: relative;
    text-align: center;
    color: white;
}

.promo h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw; 
}

.promo img {
    width: 100%;
    position: relative;
}

#GAMEPAD1 {
    position: absolute;
    top: 35%;
    left: 0;
}

#GAMEPAD2 {
    position: absolute;
    top: 40%;
    right: 0;
}

#GAMEbox {
    position: absolute;
    top: 70%;
    left: 2%;
}

#GAMEbox2 {
    position: absolute;
    top: 72%;
    right: 2%;
}

.joinUS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--padding-container) * 20);
}

.big-button {
    width: 50%;
    height: auto;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #EBEBEB, #C1BDAE);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: calc(var(--padding-container) * 2);
}

.small-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-buttons a.small {
    display: inline-block;
    width: 50%;
    max-width: 305px;
    height: auto;
    font-size: 3vw;
    text-align: center;
    line-height: 112px;
    margin: calc(var(--padding-container) * 1);
    background: linear-gradient(to bottom, #EBEBEB, #C1BDAE);
    color: white;
    text-decoration: none;
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    .promo h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 480px) {
    .promo h1 {
        font-size: 10vw;
    }
    .big-button {
        width: 80%;
        font-size: 8vw;
    }
    .small-buttons a.small {
        width: 80%;
        font-size: 5vw;
    }
}


@media screen and (max-width: 768px) {
    div.hiddenHeader {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    div.headerHiddenPhone,
    div.hidenStartMenu {
      display: none;
    }
  }

 

  @media screen and (max-width: 1200px) {
    div.hiddenPromo {
      display: none;
    }
  }